.st0,.st1,.st2,.st3,.st4,.st5,.st6,.st7,.st8,.st9{stroke:#2997ab}
svg.svg-icon {fill: #2997ab;stroke: #2997ab;}
hr.divider:after,.timeline-content:after,.owl-theme .owl-controls .owl-page.active span{background-color: #2997ab;}
mark{background-image: linear-gradient(120deg,#2997ab 0,#2997ab 100%);}
.skill.dev .progress .percentage,.bounce-circle,::selection {background-color: #2997ab;}
.timeline-content span.current,.title.dev,.filter li a.active,a,.text-secondary,.scroll-to-top, .scroll-to-top-inner{color: #2997ab;}
h1 > a:hover, h2 > a:hover, h3 > a:hover, 
h4 > a:hover, h5 > a:hover, h6 > a:hover,
.h1 > a:hover, .h2 > a:hover, .h3 > a:hover,
.h4 > a:hover, .h5 > a:hover, .h6 > a:hover,a:hover,.btn.btn-round:hover{color: #2997ab;}