.st0,.st1,.st2,.st3,.st4,.st5,.st6,.st7,.st8,.st9{stroke:#eb874f}
svg.svg-icon {fill: #eb874f;stroke: #eb874f;}
hr.divider:after,.timeline-content:after,.owl-theme .owl-controls .owl-page.active span{background-color: #eb874f;}
mark{background-image: linear-gradient(120deg,#eb874f 0,#eb874f 100%);}
.skill.dev .progress .percentage,.bounce-circle,::selection {background-color: #eb874f;}
.timeline-content span.current,.title.dev,.filter li a.active,a,.text-secondary,.scroll-to-top, .scroll-to-top-inner{color: #eb874f;}
h1 > a:hover, h2 > a:hover, h3 > a:hover,
h4 > a:hover, h5 > a:hover, h6 > a:hover,
.h1 > a:hover, .h2 > a:hover, .h3 > a:hover,
.h4 > a:hover, .h5 > a:hover, .h6 > a:hover,a:hover{color: #eb874f;}