.st0,.st1,.st2,.st3,.st4,.st5,.st6,.st7,.st8,.st9{stroke:#f56c6d}
svg.svg-icon {fill: #f56c6d;stroke: #f56c6d;}
hr.divider:after,.timeline-content:after,.owl-theme .owl-controls .owl-page.active span{background-color: #f56c6d;}
mark{background-image: linear-gradient(120deg,#f56c6d 0,#f56c6d 100%);}
.skill.dev .progress .percentage,.bounce-circle,::selection {background-color: #f56c6d;}
.timeline-content span.current,.title.dev,.filter li a.active,a,.text-secondary,.scroll-to-top, .scroll-to-top-inner{color: #f56c6d;}
h1 > a:hover, h2 > a:hover, h3 > a:hover,
h4 > a:hover, h5 > a:hover, h6 > a:hover,
.h1 > a:hover, .h2 > a:hover, .h3 > a:hover,
.h4 > a:hover, .h5 > a:hover, .h6 > a:hover,a:hover,.btn.btn-round:hover{color: #f56c6d;}